<footer class="footer text-center bg-grey p-4">
    <div class="d-flex align-items-center justify-content-center flex-column footer-container">
        <div class="">
            <p class="font-36">Contact Us</p>
            <p>Have questions or need assistance? Our team is ready to help.</p>
        </div>
        <div class="bg-white w-lg-50  p-3 rounded-1">
            <p><span>Email:</span>hello@abc.com</p>
            <p>We respond within 24 hours. For partnership inquiries, please include "Partnership" in your subject line.
            </p>
        </div>
        <div class="footer-bottom mt-3">
            <p class="font-14">By contacting us, you agree to our Privacy Policy and Terms of Service</p>
        </div>
    </div>
</footer>