<p-menubar [model]="[]">
    <ng-template pTemplate="start">
        <a routerLink="/" class="navbar-brand">Launch Pad</a>
    </ng-template>
    <ng-template pTemplate="end">
        <div class="navbar-menu-items d-none d-lg-flex">
            <a routerLink="/home" routerLinkActive="active" class="menu-item">
                <i class="pi pi-home"></i>
                <span>Home</span>
            </a>
            <a routerLink="/contact" routerLinkActive="active" class="menu-item">
                <i class="pi pi-envelope"></i>
                <span>Contact</span>
            </a>
            <a routerLink="/privacy" routerLinkActive="active" class="menu-item">
                <i class="pi pi-shield"></i>
                <span>Privacy</span>
            </a>
            <a routerLink="/terms" routerLinkActive="active" class="menu-item">
                <i class="pi pi-file-text"></i>
                <span>Terms</span>
            </a>
        </div>
        <div class="d-lg-none">
            <button class="navbar-toggler" type="button" (click)="toggleMobileMenu()">
                <i class="pi pi-bars"></i>
            </button>
        </div>
    </ng-template>
</p-menubar>

<!-- Mobile menu overlay -->
<div class="mobile-menu-overlay d-lg-none" [class.show]="mobileMenuOpen" (click)="closeMobileMenu()">
    <div class="mobile-menu" (click)="$event.stopPropagation()">
        <div class="mobile-menu-header">
            <span>Menu</span>
            <button class="close-btn" (click)="closeMobileMenu()">
                <i class="pi pi-times"></i>
            </button>
        </div>
        <div class="mobile-menu-items">
            <a routerLink="/home" routerLinkActive="active" class="mobile-menu-item" (click)="closeMobileMenu()">
                <i class="pi pi-home"></i>
                <span>Home</span>
            </a>
            <a routerLink="/contact" routerLinkActive="active" class="mobile-menu-item" (click)="closeMobileMenu()">
                <i class="pi pi-envelope"></i>
                <span>Contact</span>
            </a>
            <a routerLink="/privacy" routerLinkActive="active" class="mobile-menu-item" (click)="closeMobileMenu()">
                <i class="pi pi-shield"></i>
                <span>Privacy</span>
            </a>
            <a routerLink="/terms" routerLinkActive="active" class="mobile-menu-item" (click)="closeMobileMenu()">
                <i class="pi pi-file-text"></i>
                <span>Terms</span>
            </a>
        </div>
    </div>
</div>