<p-menubar [model]="[]">
    <ng-template pTemplate="start">
        <a routerLink="/">Launch Pad</a>
    </ng-template>
    <ng-template pTemplate="end">
        <div class="navbar-menu-items">
            <a routerLink="/home" routerLinkActive="active" class="menu-item">
                <i class="pi pi-home"></i>
                <span>Home</span>
            </a>
            <a routerLink="/contact" routerLinkActive="active" class="menu-item">
                <i class="pi pi-envelope"></i>
                <span>Contact</span>
            </a>
            <a routerLink="/privacy" routerLinkActive="active" class="menu-item">
                <i class="pi pi-shield"></i>
                <span>Privacy</span>
            </a>
            <a routerLink="/terms" routerLinkActive="active" class="menu-item">
                <i class="pi pi-file-text"></i>
                <span>Terms</span>
            </a>
        </div>
    </ng-template>
</p-menubar>