<div class="container d-flex align-items-center justify-content-center flex-column">
    <div class="section-1">


        <div class="welcome-text text-center">
            <p class="font-60 fw-bold mt-5 mb-4">Enterprise Solutions <br> Simplified
            </p>
            <p class="font-18 text-gray mb-4">
                Join the waitlist for the next generation of enterprise software. <br> Experience streamlined workflows
                and
                intelligent automation.
            </p>
        </div>
        <div class="row form-container">
            <div class="col-12 col-md-9">
                <input type="text" placeholder="Enter your email" pInputText [(ngModel)]="value" />
            </div>
            <div class="col-12 col-md-3"><button pButton>
                    <span pButtonLabel>Join Waitlist</span>
                </button></div>

        </div>
        <div class="welcome-text">
            <p>Join 1,000+ others waiting for launch. No spam, unsubscribe anytime.</p>
            <div class="">
                <p>No commitment required, Early access benefits</p>
            </div>

        </div>
    </div>
    <div class="section-2">
        <div>
            <p clss="font-36">Key Benefits</p>
            <p class="font-18 text-gray">Discover why leading enterprises choose our platform for their digital
                transformation.</p>
        </div>
        <div class="d-flex ">
            <p-card header="Lightning Fast">
                <div class="text-center mb-3">
                    <i class="pi pi-bolt" style="font-size: 3rem; color: var(--p-primary-500);"></i>
                </div>
                <p class="m-0">
                    Built for speed and performance from day one </p>
            </p-card>
            <p-card header="Community Driven">
                <div class="text-center mb-3">
                    <i class="pi pi-users" style="font-size: 3rem; color: var(--p-primary-500);"></i>
                </div>
                <p class="m-0">
                    Join thousands of users building together
                </p>
            </p-card>
            <p-card header="Secure & Private">
                <div class="text-center mb-3">
                    <i class="pi pi-shield" style="font-size: 3rem; color: var(--p-primary-500);"></i>
                </div>
                <p class="m-0">
                    Your data is protected with enterprise-grade security </p>
            </p-card>
        </div>
    </div>

</div>